@keyframes pulsate-fwd {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes kenburns-bottom-lef-top-right {
    from{
        background-position: bottom left;
    }
    to{
        background-position: top right;
    }
}