#order-pop-up {
    #odr-hdr {

    }
    #odr-bdy {
        
        .orderrow {
            height: 5vh;
            max-width: 75vw;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .icon {
                width: 5vw;
                height: 100%;
            }

            .name {
                display: none;
            }

            .description {
                width: 40vw;
                height: 100%;
                font-size: 1rem;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                text-align: left;
                padding-left: 2vw;
            }

            .price {
                width: 8vw;
                height: 100%;
                font-size: 1rem;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                text-align: left;
                padding-left: 2vw;
                background-color: yellow;
            }            

            .quantity {
                width: 8vw;
                height: 5vh;
                border: none;
                background-color: green;
                text-align: center;
                padding: 0px;
            }

            .amount {
                width: 8vw;
                height: 100%;
                font-size: 1rem;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                text-align: left;
                padding-left: 2vw;
                background-color: red;
            } 

            .remove {
                width: 5vw;
                cursor: pointer;
            }
        }
    }
    #odr-ftr {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;

        #order-amount {
            
        }

        #submit-order-btn {
            cursor: pointer;
            background-color: aquamarine;
            padding: 10px 10px;
            border-radius: 5px;
        }
    }
}