#promotion-pop-up {
    #prm-hdr {
        display: flex;
        flex-direction: column;
        background-color: $color8;
        border-radius: 10px 10px 0px 0px;
        margin: 0;
        padding: 5px;

        h2 {
            color: $color2;
        }

    }
    #prm-bdy {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .prm-card {
            padding: 10px;
            background-color: $color4;
            border-radius: 10px;
            width: 60vw;

            p {
                padding: 5px;
                color: $color8;
            }

            .prm-condition {
                background-color: $color2;
                padding: 10px;
                border-radius: 5px;
                
                h3 {
                    text-transform: uppercase;
                    margin: 0;
                    color: $color4;
                }

                .prm-award-container {
                    margin-top: 5px;
                    padding: 10px;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    border: solid 1px $color7;

                    p {
                        text-transform: uppercase;
                    }

                    .prm-award {
                        display: flex;
                        padding: 10px 0px;

                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }

            #take-prm-btn {
                margin: 10px 0px;
                cursor: pointer;
                background-color: $color8;
                padding: 5px 10px;
                border-radius: 5px;
    
                p {
                    color: $color4;
                }
            }
        }
    }
    #prm-ftr {

    }
}