#store-pop-up {
    background-color: black;

    #str-hdr {
        display: flex;
        flex-direction: column;
        position: relative;

        #store-background-profile {
            width: 100%;
            border-radius: 10px 10px 0px 0px;
            height: 40vh;
        }

        #store-logo {
            width: 125px;
            height: 125px;
            position: absolute;
            top: 28vh;
            left: 2vw;
        }
    }

    #str-bdy {
        display: flex;
        flex-direction: column;
        height: 50%;

        p {
            color: white;
        }

        #store-contact {
            
        }
        
        #store-address {
            width: 80%; 
            height: 80%;
            border: 0; 
        }

    }
}