.page-footer {
    height: 10vh;
    background-color: $color1;
    display: flex;
    justify-content: center;

    .shopping-cart-container {
        background-color: white;
        height: 95px;
        width: 95px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -40px;

        .shopping-cart-btn {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            box-shadow: 0px 0px 30px -6px $color7;
            animation: pulsate-fwd 5s ease-in-out infinite both;
            cursor: pointer;
            opacity: 0.5;
        }
    }



    .overlay {
        width: 100vw;
        height: 100vh;

        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 99;   

        position:fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background-color: rgba(0, 0, 0, 0.6);

        .cta-pop-up {
            width: 80vw;
            height: 85vh;

            display: none;

            background-color: white;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
            border-radius: 10px 10px 0px 0px;
            text-align: center;

            .pop-up-header {
                min-height: 10vh;

                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 20px;

                border-bottom: bisque solid 1px;
            }

            .pop-up-body {
                max-height: 60vh;
                min-height: 60vh;

                display: block;
                padding: 20px 0px;
                overflow-y: scroll;
                overflow-x: hidden;
            }

            .pop-up-footer {
                min-height: 10vh;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                margin-top: 20px;
                border-top: bisque solid 1px;
            }
        }

        #go-back-btn {
            display: none;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-top: bisque solid 1px;
            border-radius: 0px 0px 10px 10px;
            text-align: center;
            width: 80vw;
            height: 5vh;

            .overlay-close-btn {
                text-decoration: none;
                transition: 0.3s ease all;
                color: rgba(129, 61, 124, 0.719);

                &:hover {
                    color: black;
                }
            }
        }
    }
}
