.page-footer {
    height: 10vh;
    background-color: $color1;
    display: flex;
    justify-content: center;

    input {
        display: none;
    }

    .shopping-cart-container {
        background-color: white;
        height: 95px;
        width: 95px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -40px;

        #shopping-cart-btn {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            box-shadow: 0px 0px 30px -6px $color7;
            animation: pulsate-fwd 5s ease-in-out infinite both;
            cursor: pointer;
        }
    }



    .overlay {
        display: none;
        flex-direction: column;
        position:fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        justify-content: center;
        align-items: center;

        .ovlystr {
            display: none;
            background-color: white;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
            border-radius: 3px;
            padding: 20px;
            text-align: center;
            width: 80vw;
            height: 85vh;
        }

        .ovlypmt {
            display: none;
            background-color: white;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
            border-radius: 3px;
            padding: 20px;
            text-align: center;
            width: 80vw;
            height: 85vh;
        }

        .ovlyodr {
            display: none;
            background-color: white;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
            border-radius: 3px;
            padding: 20px;
            text-align: center;
            width: 80vw;
            height: 85vh;

            .order-header {
                display: flex;
                flex-direction: column;
                min-height: 10vh;

                h3 {
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    margin: 0;
                    padding: 10px;
                }

                h4 {
                    font-size: 1rem;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    margin: 0;
                    padding: 10px;
                }
            }

            .order-body {
                display: block;
                padding: 20px 0px;
                overflow-y: scroll;
                overflow-x: hidden;
                max-height: 50vh;
                min-height: 50vh;

                .orderrow {
                    width: 100%;
                    height: 5vh;
                    background-color: $color7;
                    margin: 10px 0px;
                }
            }

            .order-footer {
                min-height: 10vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .order-summary {
                    display: flex;
                    flex-direction: column;
                    padding: 15px 0px;
                    width: 15vw;
                    
                    .summary {
                        display: flex;

                        :nth-child(1) {
                            text-align: left;
                            width: 50%;
                        }

                        :nth-child(2) {
                            text-align: right;
                            width: 50%;
                        }

                        p {
                            margin: 0;
                            padding: 5px 0px;
                        }
                    }

                }

                .submit-order-btn {
                    background-color: $color4;
                    width: 15vw;
                    height: 2vh;
                    padding: 10px 0px;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        color: honeydew;
                    }
                }
            }
        }

        #go-back-btn {
            display: none;
            justify-content: center;
            align-items: center;
            background-color: white;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
            border-radius: 3px;
            padding: 20px;
            text-align: center;
            width: 80vw;
            height: 5vh;

            .overlay-close-btn {
                text-decoration: none;
                transition: 0.3s ease all;
                color: rgba(129, 61, 124, 0.719);

                &:hover {
                    color: black;
                }
            }
        }
    }
}
