.page-header {
    height: 10vh;
    background-color: $color1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .toggle {
        
    }

    .brand {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Lovers Quarrel', cursive;
        font-size: 1.5rem;
        max-height: 10vh;

        p {
            margin: 0;
        }
    }

    .promotion {

    }
}