.page-header {
    height: 10vh;
    background-color: $color1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    #store-info-btn {
        cursor: pointer;
    }

    .brand-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 10vh;

        h2 {
            margin: 0;
            font-size: 1.7em;
            color: $color8;
            text-shadow: 2px 2px 2px $color2;
        }

        h3 {
            margin: 0;
            font-size: 1.1em;
            color: $color8;
            text-shadow: 2px 2px 2px $color2;
        }
    }

    #promotion-info-btn {
        cursor: pointer;
    }
}